body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width : 300px;
}

h1 {
    font-size: 48px;
}

#header {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
}

button {
    margin: 10px;
    padding:10px;
    border-radius:10px;
    color:white;
    background-color: #f79256;
    border:none;
}

p {
    margin:0px;
}

#resulttext {
    text-align: center;  
}

.playarea {
    padding: 20px;
    background-color: #FBD1A2;
    text-shadow: 2px 2px 1px lightgray;
    font-weight: 800;
}

#playbuttons {

    display: flex;
    justify-content: space-between;
}

#finalresult {
    font-weight: 900;
}

#resulttext {
    background-color: #7DCFB6;
    display: block;
    align-items: center;
    height : 40px;
}

.resultdivs {
    width : 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00B2CA;
    display:flex; 
    justify-content: space-between;
}

.scorehead {
    font-weight: 800;
    text-shadow: 2px 2px 1px lightgray;
    margin-bottom: 10px;
}

.scorestack {
    width: 100px; 
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left:30px;
}
